@model TrafficFineSystemWeb.Models.ViewModel.FineVM

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager




<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Fine.FineId" hidden />


    <div class = "row">
        <div class="col-10">
                <div class="border p-3 mt-4 row">
        <div class="col-12 pb-2">
            <h2 class="text-primary"> @(Model.Fine.FineId!=0?"Update":"Create") Fine</h2>
        <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Fine.VehicleNumber"></label>
            <textarea asp-for="Fine.VehicleNumber" rows="3" class="form-control" ></textarea> 
            <span asp-validation-for="Fine.VehicleNumber" class="text-danger"></span> <!-- for name validation bcoz cant be empty-->
        </div>       
        
        <div class="mb-3">
            <label asp-for="Fine.FineType"></label>
            <textarea asp-for="Fine.FineType" rows="3" class="form-control" ></textarea> 
            <span asp-validation-for="Fine.FineType" class="text-danger"></span> <!-- for name validation bcoz cant be empty-->
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Fine.LicenseNumber"></label>
            <input asp-for="Fine.LicenseNumber" class="form-control" /> 
            <span asp-validation-for="Fine.LicenseNumber" class="text-danger"></span> <!-- for name validation bcoz cant be empty-->
        </div>

                <div class="mb-3 col-6">
            <label asp-for="Fine.Amount"></label>
            <input asp-for="Fine.Amount" class="form-control" /> 
            <span asp-validation-for="Fine.Amount" class="text-danger"></span> <!-- for name validation bcoz cant be empty-->
        </div>



        <div class="mb-3 col-6">
            <label asp-for="Fine.DriverId"></label>
            <select asp-for="Fine.DriverId" class="form-select" asp-items="@Model.DriverList" onchange="FormAutoFill(this.value)">
                     
                <option disabled selected>-Select Any Driver-</option>
                        
            </select>
            <span asp-validation-for="Fine.DriverId" class="text-danger"></span> <!-- for name validation bcoz cant be empty-->
        </div>      
        
        <div class="mb-3 col-6">
            <label asp-for="Fine.TrafficId"></label>
            <select asp-for="Fine.TrafficId" asp-items="@Model.TrafficList" class="form-select">
                <option disabled selected>-Select Any Driver-</option>
            </select>
            <span asp-validation-for="Fine.TrafficId" class="text-danger"></span> 
            <!-- for name validation bcoz cant be empty-->
        </div>        
        

         
            <div class="col-12">

                @if(Model.Fine.FineId!=0){

            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                }
                else{
            <button type="submit" class="btn btn-primary" style="width:150px">Create</button>

                }
            <a asp-controller="Fine" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to the List
            </a>
            </div>
            


    </div>
        </div>
    </div>


</form>


@section Scripts{
@{
    <partial name = "_ValidationScriptsPartial"></partial>
    <script>
        

            function FormAutoFill(vehiclenumber) {
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function () {

                    var data = JSON.parse(xhttp.responseText)
                    var test = data[0]

                    document.getElementById("Fine_VehicleNumber").value = test["vechileNumber"]
                    document.getElementById("Fine_LicenseNumber").value = test["licenseNumber"]
                    

                }
                xhttp.open("GET", "/api/values/" + vehiclenumber, true)
                xhttp.send();
            }
    
    
    </script>
}


}